{% include 'header.html' %}
    <h1 style="text-align: center;">Formulario para editar</h1>
{% for empleado in empleados %}
        <form method="POST" action="/update" enctype="multipart/form-data">

            <div class="card">
                <div class="card-header">
                    Actualizar 
                </div>
                <div class="card-body">
                    <h4 class="card-title">Datos registrados</h4>
                    <p class="card-text">

                        <div class="form-group">
                          <label for="txtNombre">Nombre</label>
                          <input type="text" name="txtNombre" id="txtNombre" class="form-control" value="{{empleado[1]}}">
                        </div>

                        <div class="form-group">
                            <label for="txtCorreo">Correo</label>
                            <input type="text" name="txtCorreo" id="txtCorreo" class="form-control" value="{{empleado[2]}}">
                        </div>

                        <div class="form-group">
                            <label for="txtFoto">Foto</label>
                            <img class="img-thumbnail" width="100" src="{{url_for('uploads',nombreFoto=empleado[3])}}" alt="">
                            <input type="file" name="txtFoto" id="txtFoto" class="form-control" value="{{empleado[2]}}">
                        </div>

                        <input type="hidden" value="{{empleado[0]}}" name="txtID" id="txtID">

                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Actualizar">
                            <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                        </div>

                    </p>
                </div>
                <div class="card-footer text-muted">
                    Zodiaco LFB
                </div>
            </div>
            
            
            
        </form> 
{% endfor %}

{% include 'footer.html' %}